@import url('https://fonts.googleapis.com/css?family=Space+Mono');

ul {
  list-style: none;
}

.episodes-container {
    background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
    display: flex;
    position: relative;
}
.portal-img {
  height: auto;
  width: 75%;
  margin-left: 20px;
  padding-top: 25px;
  }

  .mr-poopy {
    height: auto;
    width: 100%;
    padding-top: 1100px;
    padding-left: 15px;
  }

  .home-text {
  font-family: 'Orbitron', sans-serif;
  color:#00B0C8;
  font-size: 20px;
  font-weight: bold;
  padding-left: 224px;
}

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);


.seasons {
  width: 73%;
}

.seas-1-title {
  font-family: 'Orbitron', sans-serif;
  color: #00B0C8;
  font-weight: 600;
  text-align: center;
  padding-top: 65px;
  padding-right: 8px;
  text-transform: uppercase;
}

.breaker {
  text-align: center;
  /*padding-right: 180px;*/
}

.seas-2-title {
  font-family: 'Orbitron', sans-serif;
  color: #00B0C8;
  font-weight: 600;
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
}

.episode-name {
  color: #00B0C8;
}

.episode-text-color {
  color: white;
}

.episode-text {
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 500;
  font-size: 21px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  padding-top: 15px;
  text-align: center;
  position: relative;
  right: 2%;
}

.right-img {
  float: right;
}

.scary-terry {
  width: 100%;
  padding-top: 65px;
  padding-right: 15px;
}

.mr-meeseeks {
  width: 87%;
  padding-top: 1875px;
  padding-left: 15px;
}
