<div class="episodes-container" style="height: auto; width: 100%;">
  <div class="portal-container" style="width: 12%; height: 100%;">
        <a ui-sref="home"><img class="portal-img" src="rm-portal.jpg" alt="portal"></a>
        <p class="home-text" style="padding-left: 20px;">Home</p>
        <img class="mr-poopy" src="Mr-poopy-img.png" alt="mr-poopy-butthole">
  </div>

  <div class="seasons">
    <h1 class="seas-1-title">Season 1</h1>
    <div class="episode-text" ng-repeat=" one in arrayOne">
      <ul>
        <li class="episode-name">{{one.episode_number + "." + " " + "\""+one.episode_name+ "\""}}
          <ul>
            <li class="episode-text-color">{{one.description}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <br>
    <div class="breaker">________________________________________________</div>
    <br>
    <h1 class="seas-2-title">Season 2</h1>
    <div class="episode-text" ng-repeat=" two in arrayTwo">
      <ul>
        <li class="episode-name">{{two.episode_number + "." + " " + "\""+two.episode_name+ "\""}}
          <ul>
            <li class="episode-text-color">{{two.description}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="right-img" style="width: 20%; height: 100%;">
        <img class="scary-terry" src="scary-terry.png" alt="Scary-Terry">
        <img class="mr-meeseeks" src="mr-meeseeks.png" alt="Mr-Meeseeks">
  </div>
</div>
