<div class="episodes-container" style="height: auto; width: 100%;">
  <div class="portal-container" style="width: 12%; height: 100%;">
        <a ui-sref="home"><img class="portal-img" src="/images/rm-portal.jpg" alt="portal"></a>
        <p class="home-text" style="padding-left: 20px;">Home</p>
        <audio id="sound1" src="/videos-audio/mr-poopy.mp3" preload="auto"></audio>
        <img class="mr-poopy" src="/images/Mr-poopy-img.png" alt="mr-poopy-butthole" onclick="document.getElementById('sound1').play();">
  </div>

  <div class="seasons">
    <img class="breaker-logo" src="/images/rm-over-logo.png">
    <h1 class="seas-1-title">Season 1</h1>
    <div class="episode-text" ng-repeat=" one in arrayOne">
      <ul>
        <li class="episode-name">{{one.episode_number + "." + " " + "\""+one.episode_name+ "\""}}
          <ul>
            <li class="episode-text-color">{{one.description}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <br>
    <div class="breaker">________________________________________________</div>
    <!--<img class="breaker-logo" src="rm-over-logo.png">-->
    <br>
    <h1 class="seas-2-title">Season 2</h1>
    <div class="episode-text" ng-repeat=" two in arrayTwo">
      <ul>
        <li class="episode-name">{{two.episode_number + "." + " " + "\""+two.episode_name+ "\""}}
          <ul>
            <li class="episode-text-color">{{two.description}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="right-img" style="width: 20%; height: 100%;">
        <audio id="sound2" src="/videos-audio/scary-terry.mp3" preload="auto"></audio>
        <img class="scary-terry" src="/images/scary-terry.png" alt="Scary-Terry" onclick="document.getElementById('sound2').play();">
        <audio id="sound3" src="/videos-audio/mr-meeseeks.mp3" preload="auto"></audio>
        <img class="mr-meeseeks" src="/images/mr-meeseeks.png" alt="Mr-Meeseeks" onclick="document.getElementById('sound3').play();">
  </div>
</div>
